* {
	margin: 0;
	padding: 0;
}


body {
	background: gray;

}

/*-----Headings/Titles-----*/


#banner {
	background-size: cover;
	text-align: center;
	font-size: 50px;
	font: bold;
}

/*-----Accordion data-----*/

.card {
	background-color: darkgray;
}

/*-----Slide Show-----*/


	








